html, body {
  width: 100%;
  background-color: rgb(25, 0, 114);
  font-family: 'Belgrano';
  font-size: 22px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 60px;
}

th, td {
  border: 3px rgb(197, 197, 197) ridge;
  background-color: rgb(230, 223, 223);
  padding: 10px;
  font-size: 20px;
  text-align: center;
}

table {
  display: table;
  margin: 0 auto;
  border: 10px rgb(197, 197, 197) ridge;
  padding: 2px;
  background-color: #000000;
}

legend {
  background-color: rgb(197, 197, 197);
  border: 4px rgb(0, 0, 0) double;
  font-size: 20px;
}

label {
  font-size: 15px;
  font-weight: bold;
}

form {
  position: static;
  text-align: center;
}

fieldset {
  margin-right: 15%;
  margin-left: 15%;
  background-color: rgb(197, 197, 197);
  border: 2px rgb(197, 197, 197) ridge;
  font-size: 20px;
}

#clear_table {
  font-size: 10px;
  font-weight: bold;
  position: fixed;
  top: 20;
  margin-right: 50%;
  margin-left: 50%;
}

#submit_butt {
  font-size: 15px;
  font-weight: bold;
}

#pic_container {
  display: block;
  text-align: center;
}

img {
  height: 225px;
}

ul {
  list-style-type: none;  
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(197, 197, 197);
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(66, 66, 66);
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: rgb(29, 32, 206);
  color: white;
}

li a:hover:not(.active) {
  background-color: rgb(143, 143, 143);
  color: white;
}

#nav_info {
  font-size: 15px;
  float: right;
  margin-right: 20px;
}

#pic_container{
  background-color: white;
}

#pic_container img {
  border: 4px white ridge;
}

